<!DOCTYPE html>
 <html lang="fr">

    <head>
         <title>La plateforme</title>
         <meta charset="utf-8">
          <link rel="stylesheet" type="text/css" href="css/style.css">
     </head>   
 <body>

<h2> Ajout d'un commentaire</h2>
     <form action="index.php?route=insert_comment" method="post">
             <div>
             <label> Commentaires : </label>
             <input type='textarea' id='description' name='description' placeholder="Intitulé de la tache">
             </div>
             <div>
           <input type='submit' id='valider' value='Soumettre'>
           </div>
         </form>
     </div>
